* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dark-theme {
  --main-background-color: #ffffff;
  --main-text-color: #333333;
  --main-text2-color: #666666;
  --hover-color: #e8f0fe;
  --box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  --card-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  --success-color: #4caf50;
  --success-background: #e8f5e9;
}

:root {
  --main-background-color: #0e1627;
  --main-text-color: #ffffff;
  --main-text2-color: #f9c740;
  --hover-color: #1d2738;
  --box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  --card-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  --success-color: #81c784;
  --success-background: #1b3a2f;
}

body {
  scroll-behavior: smooth;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  transition: all 0.3s ease;
}

.container {
  max-width: calc(100% - 60px);
  margin: 0 auto;
  padding: 5px 15px;
}

/* Header */
.header {
  padding: 0px 5px;
  background-color: var(--main-background-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  min-width: calc(100% - 40px);
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}
/* .fPosition {
  position: relative;
  left: calc(47% + 6px);
} */
.menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  display: none;
}

.ulMenu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.ulMenu a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: 0.3s ease;
}
.ulMenu li {
  border-bottom: 2px solid var(--hover-color);
  transition: 0.3s ease;
  padding: 20px;
}

.ulMenu li:hover {
  border-color: var(--main-text2-color);
  background-color: var(--hover-color);
}
.weather-container {
  position: relative;
  right: -13px;
  top: 0;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--hover-color);
}

.weather {
  position: absolute;
  color: var(--main-text-color);
  right: -36px;
  padding: 10px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  top: 58px;
  transition: 0.3s ease;
  display: none;
}

.weather-container:hover .weather {
  display: block;
}
.weather-container.cloud-hover {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 50%;
  transform: translateY-(50%);
  right: 0;
  margin-left: 10px;
  background-color: transparent;
}
.weather-container:hover {
  transform: scale(1.1);
}

.switch {
  display: none;
}

.switch + label {
  color: var(--main-text-color);
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  background-color: var(--hover-color);
  transition: 0.3s;
  border: solid 1px var(--main-text-color);
}

.switch:checked + label {
  transform: scale(1.1);
  background-color: var(--hover-color);
}

/* start Home */
.parents {
  padding-top: 40px;
}

.Home {
  min-height: calc(100vh - 119px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.title {
  max-width: 400px;
}

.title h2 {
  font-size: 2rem;
  color: var(--main-text-color);
  border-bottom: 3px solid var(--main-text-color);
  margin-bottom: 10px;
}

.title p {
  color: var(--main-text2-color);
  margin: 30px 0;
}

.bContact {
  text-decoration: none;
  margin: 0.6rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--main-text2-color);
  color: var(--main-background-color);
  transition: 0.3s;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bolder;
}

.bContact:hover {
  background-color: var(--main-text-color);
  box-shadow: var(--box-shadow);
  transform: scale(1.03);
}

.img {
  height: 200px;
  border-radius: 50%;
  margin: 30px;
  overflow: hidden;
  border: 5px solid var(--main-text2-color);
  box-shadow: var(--box-shadow);
  background-color: var(--hover-color);
  transition: 0.3s ease;
  display: flex;
  flex-wrap: wrap;
}

.img img {
  width: 100%;
  object-fit: cover;
}

.img:hover {
  transform: scale(0.98);
}

/* End Home */
/* Start Services */
.Services {
  padding: 60px 20px;
  background-color: var(--main-background-color);
  text-align: center;
  color: var(--main-text-color);
  box-shadow: var(--box-shadow);
}

.special-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
}

.special-title h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--main-text-color);
}

.special-title span {
  color: var(--main-text2-color);
}

.special-title p {
  text-align: center;
  margin-top: 10px;
  color: var(--main-text2-color);
  max-width: 600px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background-color: var(--hover-color);
  color: var(--main-text-color);
  box-shadow: var(--box-shadow);
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}

.card i {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--main-text2-color);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--main-text-color);
  margin: 0.5rem;
}

.card p {
  font-size: 1rem;
  color: var(--main-text2-color);
  line-height: 1.6;
  margin: 0.5rem;
}
/* End Services */

/* Portfolio Section */
.parents-container {
  padding: 60px 20px;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.item {
  width: 250px;
  border-radius: 10px;
  height: fit-content;
  padding: 5px;
  overflow: hidden;
  box-shadow: var(--card-box-shadow);
  transition: 0.3s ease;
  background-color: var(--hover-color);
  flex-shrink: 0;
}

.item img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.item a {
  display: block;
  text-decoration: none;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}

/* End portfolio */

/* start Experience */
.Experience .card span {
  position: relative;
  font-size: 1.3rem;
  text-align: start;
}
.Experience .card span::after {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 10px;
  background-color: transparent;
  border: solid 2px var(--main-text2-color);
}
/* End Experience */
/* start References */
.img-card {
  width: 100px;
  border: solid 5px var(--main-text2-color);
  border-radius: 50%;
}
/* End References */
/* start About */

/* End About */
.about .card {
  width: 100%;
  margin-top: 40px;
}

.about .card p {
  margin-bottom: 35px;
}
.about .link a {
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  border: solid 2px var(--main-text2-color);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.about .link a:hover {
  background-color: var(--hover-color);
}

/* end */

/* start contact */

.contact {
  margin-top: 20px;
}

.contact p {
  max-width: 400px;
}

form {
  max-width: 400px;
  margin: 50px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  font-size: 16px;
}

.contact button {
  margin: 0;
}
textarea.success {
  color: var(--success-color);
  background-color: var(--success-background);
  border: 2px solid var(--success-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 11px;
  visibility: hidden;
}

.error-message.visible {
  visibility: visible;
}
/* End contact */

/* start fotter */
.footer .fa-linkedin {
  color: #1877f2;
  font-size: 2rem;
}
.footer .fa-x-twitter {
  color: black;
  background-color: white;
  font-size: 2rem;
}
.footer .fa-square-youtube {
  color: #ff0000;
  font-size: 2rem;
}
/* end fotter */

/* made */
.made {
  padding: 10px;
  text-align: center;
}
.made span {
  color: var(--main-text2-color);
}
/* End made */
/* start Media*/
@media (max-width: 1025px) {
  .header {
    padding: 10px;
  }
  .ulMenu {
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: var(--main-background-color);
    top: 131%;
    left: 0;
    right: 0;
  }

  /* .ulMenu::before {
    position: absolute;
    content: "";
    border: 10px solid;
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    top: -28px;
    left: 50%;
    transform: translate(-50%);
  }

  .ulMenu::after {
    position: absolute;
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--hover-color) transparent;
    top: -8px;
    left: 50%;
    transform: translate(-50%);
  } */

  .ulMenu li {
    color: var(--main-text-color);
    padding: 12px;
    list-style: none;
    text-align: center;
  }
  .ulMenu li:nth-child(1) {
    border-top: solid var(--hover-color);
  }
  .menu-toggle {
    position: relative;
    display: block;
    cursor: pointer;
    color: var(--main-text-color);
    font-size: 30px;
  }

  /* .menu-toggle:hover + .ulMenu {
    display: flex;
    box-shadow: var(--box-shadow);
  } */
  .ulMenu.active {
    display: block;
  }
  .Home {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
  }
}
